@import '../../styles/color.scss';
@import '../../styles/typography.scss';


.element-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.element-container__label {
    @include responsive-font-variation(medium);
    font-weight: bold;
    color: $white-clr;
}

.element-container__content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (min-width: 420px) {
        width: 300px;
    }

    @media (max-width: 420px) {
        width: 250px;
    }

    @media (max-width: 320px) {
        width: 200px;
    }
}